<!-- Desktop and tablet -->
<li
  class="dropdown"
  ng-class="{'hidden-xs': userState.user.profile}"
  ng-show="userState.user.profile"
  rv-spinner="spinnerOptions"
  rv-spinner-key="auth-buttons"
  rv-spinner-start-active="1">
    <a href="" class="dropdown-toggle">
      <img ng-src="{{userState.user.picture}}"
        class="profile-pic" width="30" height="30" alt="User" />
    </a>
    <ul class="dropdown-menu">
      <ng-include
        src="'auth-buttons-menu.html'"
        replace-include
      ></ng-include>
    </ul>
</li>
<!-- Mobile -->
<li
  ng-class="{'visible-xs-inline-block': userState.user.profile}"
  ng-show="userState.user.profile"
  rv-spinner="spinnerOptions"
  rv-spinner-key="auth-buttons"
  rv-spinner-start-active="1">
    <a href="" class="dropdown-toggle" action-sheet="'auth-buttons-menu.html'">
      <img ng-src="{{userState.user.picture}}"
        class="profile-pic" width="30" height="30" alt="User" />
    </a>
</li>
<!-- If User NOT Authenticated -->
<li ng-show="!userState.user.profile">
  <a href="" class="sign-in" ng-click="loginModal()">
    <span>Sign In</span>
    <i class="glyphicons log_in"></i>
  </a>
</li>
