<li class="dropdown-header dropdown-title">
  <span class="user-full-name">{{profile.firstName}} {{profile.lastName}}</span>
</li>
<li class="dropdown-header">
  {{profile.email}}
</li>
<li class="divider" ng-show="isRiseVisionUser"></li>
<li ng-show="isRiseVisionUser">
  <a href="" ng-click="userSettings()" class="user-settings-button action">
    <i class="fa fa-cogs"></i>
    <span class="item-name">User Settings</span>
  </a>
</li>
<li class="divider" ng-show="false"></li>
<li ng-show="false">
  <a href="" class="action" ng-click="paymentMethods()">
    <i class="fa fa-usd"></i>
    <span class="item-name">Payment Methods</span>
  </a>
</li>
<li class="divider" ng-show="isLoggedIn"></li>
<li ng-show="isLoggedIn">
  <a href="" ng-click="logout()" class="sign-out-button action">
    <i class="fa fa-sign-out"></i>
    <span class="item-name">Sign Out</span>
  </a>
</li>
