<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">
  		<i class="glyphicons remove_2"></i>
  	</button>
</div>
<div class="modal-body authorization-modal"
  rv-spinner="spinnerOptions"
  rv-spinner-key="authenticate-button"
  rv-spinner-start-active="0"
>
  <img src="http://rise-vision.github.io/style-guide/img/avatar_2x.jpg" class="profile-img">
  <p>Please authorize your Google Account to register with Rise Vision.</p>
  <button type="button" ng-click="authenticate(true)"
    class="btn btn-success btn-block authorize-button">Authorize</button>
</div>
