<!-- Desktop and tablet -->
<li
  class="dropdown"
  ng-class="{'hidden-xs': isLoggedIn}"
  ng-show="isLoggedIn"
  rv-spinner="spinnerOptions"
  rv-spinner-key="auth-buttons">
    <a href="" class="dropdown-toggle">
      <img ng-src="{{userPicture}}"
        class="profile-pic" width="30" height="30" alt="User" />
    </a>
    <ul class="dropdown-menu">
      <ng-include
        src="'auth-buttons-menu.html'"
        replace-include
      ></ng-include>
    </ul>
</li>
<!-- Mobile -->
<li
  ng-class="{'visible-xs-inline-block': isLoggedIn}"
  ng-show="isLoggedIn"
  rv-spinner="spinnerOptions"
  rv-spinner-key="auth-buttons"
  >
    <a href="" class="dropdown-toggle" action-sheet="'auth-buttons-menu.html'">
      <img ng-src="{{userPicture}}"
        class="profile-pic" width="30" height="30" alt="User" />
    </a>
</li>
<!-- If User NOT Authenticated -->
<li ng-show="!undetermined && isLoggedIn === false"
  rv-spinner="spinnerOptions"
  rv-spinner-key="auth-buttons"
  >
  <button type="button" class="btn btn-sign-in btn-fixed-width" ng-click="loginModal()">
    </span>Sign In <i class="fa fa-sign-in fa-white icon-right"></i>
  </button>
</li>
