<div class="modal-header">
  <button type="button" ng-click="closeModal()" class="close"><span>&times;</span><span class="sr-only">Close</span></button>
</div>
<div class="modal-body authorization-modal">
  <img src="http://rise-vision.github.io/style-guide/img/avatar_2x.jpg" class="profile-img">
  <p>Please authorize your Google Account to register with Rise Vision.</p>
  <button type="button" ng-click="authenticate(true)" class="btn btn-success btn-lg btn-block authorize-button">Authorize</button>
</div>
