<li class="dropdown-header dropdown-title">
  {{elizaState.user.profile.firstName}} {{elizaState.user.profile.lastName}}
</li>
<li class="dropdown-header">
  {{elizaState.user.profile.email}}
</li>
<li class="divider" ng-show="elizaState.user.profile"></li>
<li ng-show="elizaState.user.profile">
  <a href="" ng-click="userSettings()" class="user-settings-button action">
    <i class="fa fa-cogs"></i>
    <span class="item-name">User Settings</span>
  </a>
</li>
<li class="divider" ng-show="false"></li>
<li ng-show="false">
  <a href="" class="action" ng-click="paymentMethods()">
    <i class="fa fa-usd"></i>
    <span class="item-name">Payment Methods</span>
  </a>
</li>
<li class="divider" ng-show="elizaState.user"></li>
<li ng-show="elizaState.user.username">
  <a href="" ng-click="logout()" class="sign-out-button action">
    <i class="fa fa-sign-out"></i>
    <span class="item-name">Sign Out</span>
  </a>
</li>
