<!-- Common Header Navbar -->
<nav class="navbar navbar-default navbar-static-top"
	ng-class="{'double-margin': userState.subCompanySelected}" role="navigation">
	<div class="container">

		<div class="navbar-header" style="width: 100%;">
			<a class="navbar-brand visible-md visible-lg" href="http://www.risevision.com/" target="_blank">
				<img src="//s3.amazonaws.com/rise-common/images/logo-small.png" class="img-responsive logo-small" width="113" height="42" alt="Rise Vision">
			</a>
			<a class="navbar-brand hidden-md hidden-lg text-center"
				href="" off-canvas-toggle>
				<i class="fa fa-bars"></i>
			</a>

			<!-- If User Authenticated -->
			<!-- Action Nav -->
			<ul class="nav navbar-nav navbar-right actions-nav pull-right">
				<!-- Notifications -->
				<ng-include
					replace-include
				  ng-controller="SystemMessagesButtonCtrl"
					src="'system-messages-button.html'"
				></ng-include>
				<!-- Shopping Cart -->
				<li class="shopping-cart"
				  ng-controller="ShoppingCartButtonCtrl"
					ng-show="userState.shoppingCart.items !== null"
					ng-include="'shoppingcart-button.html'">
				</li>
				<!-- Current App -->
				<li class="dropdown" ng-show="false">
					<a href="" class="dropdown-toggle">
						<i class="fa fa-th"></i>
					</a>
					<ul class="dropdown-menu company-menu">
						<li class="dropdown-header dropdown-title">
							Current App
						</li>
						<li class="dropdown-header">
							<i class="fa fa-tags"></i> Store
						</li>
						<li class="divider"></li>
						<li>
							<div class="menu-box pull-left">
								<a href="">
									<i class="fa fa-photo"></i>
									<span>Displays</span>
								</a>
							</div>
							<div class="menu-box pull-right">
								<a href="">
									<i class="fa fa-photo"></i>
									<span>Scheduler</span>
								</a>
							</div>
						</li>
						<li>
							<div class="menu-box pull-left">
								<a href="">
									<i class="fa fa-photo"></i>
									<span>Editor</span>
								</a>
							</div>
							<div class="menu-box pull-right">
								<a href="">
									<i class="fa fa-photo"></i>
									<span>Storage</span>
								</a>
							</div>
						</li>
						<li>
							<div class="menu-box pull-left">
								<a href="">
									<i class="fa fa-photo"></i>
									<span>Bulletin</span>
								</a>
							</div>
							<div class="menu-box pull-right">
								<a href="">
									<i class="fa fa-photo"></i>
									<span>Player</span>
								</a>
							</div>
						</li>
					</ul>
				</li>
				<!-- END Current App -->
				<!-- Company Dropdown -->
				<ng-include
					replace-include
					ng-if="userState.user.profile"
				  ng-controller="CompanyButtonsCtrl"
					src="'company-buttons.html'"
				></ng-include>
				<!-- Auth -->
				<ng-include
					replace-include
				  ng-controller="AuthButtonsCtr"
					src="'auth-buttons.html'"
				></ng-include>
			</ul>
			<!-- END Action Nav -->

			<!-- Nav Links -->
			<div class="navbar-collapse navbar-left hidden-xs hidden-sm">
				<ul class="nav navbar-nav">
					<li ng-repeat="opt in navOptions">
						<a ng-href="{{opt.link}}" target="{{opt.target}}">{{opt.title}}</a>
					</li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle remove-radius">
							Help
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="http://community.risevision.com/rise_vision_inc" class="item-name" target="_blank">Community</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="http://www.risevision.com/user-training/" class="item-name" target="_blank">Training</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="http://www.risevision.com/help/users/" class="item-name" target="_blank">Documentation</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- END Nav Links -->
		</div>

	</div>

	<div ng-if="userState.subCompanySelected"
	  class="sub-company-alert">
		You're in a Sub-Company of your Company. Current Company - {{userState.selectedCompany.name}}
	</div>
</nav>
<!-- END Common Header Navbar -->

<!-- Off Canvas Version of the Nav -->
<nav class="off-canvas-nav" off-canvas-nav>
  <ul class="nav nav-pills nav-stacked">
  	<li off-canvas-toggle>
  		<i class="fa fa-times fa-2x pull-right"></i>
  		<img src="//s3.amazonaws.com/rise-common/images/logo-small.png" class="img-responsive logo-small" width="113" height="42" alt="Rise Vision">
  	</li>
    <li ng-repeat="opt in navOptions">
			<a ng-href="{{opt.link}}" target="{{opt.target}}">{{opt.title}}</a>
		</li>
		<li>
			<a target="_blank" href="http://help.risevision.com/">Help</a>
		</li>
  </ul>
</nav>
