<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">
    <i class="fa fa-times"></i>
  </button>
  <h2 id="company-settings-label" class="modal-title">Company Settings</h2>
</div>
<div class="modal-body company-settings-modal">
  <form role="form">
    <div class="form-group">
      <label for="company-settings-name">
        Name
      </label>
      <input id="company-settings-name" type="text" class="form-control" ng-model="company.name" />
    </div>
    <div class="form-group">
      <label for="company-settings-street">
        Street
      </label>
      <input id="company-settings-street" type="text" class="form-control" ng-model="company.street" />
    </div>
    <div class="form-group">
      <label for="company-settings-unit">
        Unit
      </label>
      <input id="company-settings-unit" type="text" class="form-control" ng-model="company.unit" />
    </div>
    <div class="form-group">
      <label for="company-settings-city">
        City
      </label>
      <input id="company-settings-city" type="text" class="form-control" ng-model="company.city" />
    </div>
    <div class="form-group">
      <label for="company-settings-country">
        Country
      </label>
      <select id="company-settings-country" class="form-control selectpicker"
        ng-model="company.country" ng-options="c[1] as c[0] for c in countries">
        <option value="">&lt; Select Country &gt;</option>
      </select>
    </div>
    <div class="form-group">
      <label for="company-settings-state">
        State / Province
      </label>
      <!-- <input id="company-settings-state" type="text" class="form-control" ng-model="company.province" ng-hide="company.country == 'US' || company.country == 'CA'" /> -->
      <select class="form-control selectpicker" ng-model="company.province" ng-options="c[1] as c[0] for c in regionsCA" ng-show="company.country == 'CA'">
        <option value="">&lt; Select Province &gt;</option>
      </select>
      <!-- <select class="form-control selectpicker" ng-model="company.province" ng-options="c[1] as c[0] for c in regionsUS" ng-show="company.country == 'US'">
        <option value="">&lt; Select State &gt;</option>
      </select> -->
    </div>
    <div class="form-group">
      <label for="company-settings-zip">
        Zip / Postal Code
      </label>
      <input id="company-settings-zip" type="text" class="form-control" ng-model="company.postalCode" />
    </div>
    <div class="form-group">
      <label for="company-settings-phone">
        Telephone
      </label>
      <input id="company-settings-phone" type="tel" class="form-control" />
    </div>
    <div class="form-group">
      <label for="company-settings-monitoring">
        Send Monitoring Emails To
      </label>
      <input id="company-settings-monitoring"
        type="email" class="form-control" placeholder="e.g. john.doe@company.com"/>
    </div>
    <div class="form-group">
      <label>
        Authentication Key
      </label>
      <a class="action-link" href="">Reset</a>
      <div>
        authKey
      </div>
    </div>
    <div class="form-group">
      <label>
        Claim ID
      </label>
      <a class="action-link" href="">Reset</a>
      <div>
        abc123
      </div>
    </div>
    <div class="form-group" ng-hide="true">
      <label>
        Sub-Company Home Page Presentation
      </label>
      <a class="action-link" href="" ng-click="showSelector()">Select</a>
      <a class="action-link" href="">Default</a>
      <div id="presentation-name">Rise Vision Default (ID=a6789044-ae4a-48c7-b6fd-b5d4ffea2f24)</div>
      <div class="presentation-selector" ng-show="isSelectorVisible">
        <div class="panel panel-default">
          <ul class="list-unstyled selector-header">
            <li ng-class="{active : selected == 'list'}">
              <a href="" ng-click="showPresentationView($event, 'list')">Search Presentations</a>
            </li>
            <li ng-class="{active : selected == 'search'}">
              <a href="" ng-click="showPresentationView($event, 'search')">Enter Presentation ID</a>
            </li>
            <li class="close-button">
              <button type="button" class="close" aria-hidden="true" ng-click="closeSelector()">
                <i class="fa fa-times"></i>
              </button>
            </li>
          </ul>
          <div class="panel-body">
            <div class="presentation-list" ng-show="selected == 'list'">
              <div class="input-group search">
                <input type="text" class="form-control" placeholder="Search Presentations">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search fa-white"></i>
                  </button>
                </span>
              </div>
              <div class="list-group scrollable-list">
                <a href="" class="list-group-item" ng-click="setPresentation($event, 'Demo Presentation')">
                  Demo Presentation
                </a>
                <a href="" class="list-group-item" ng-click="setPresentation($event, 'My First Presentation')">
                  My First Presentation
                </a>
              </div>
            </div>
            <div class="presentation-search" ng-show="selected == 'search'">
              <form role="form">
                <div class="form-group">
                  <input id="presentation-id" type="text" class="form-control" placeholder="Enter Presentation ID" />
                </div>
                <div class="form-group">
                  <a href="" ng-click="setPresentation($event)">Retrieve Presentation</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-hide="true">
        <label for="company-settings-community-url">
          Sub-Company Community URL
        </label>
        <a class="action-link" href="">Default</a>
        <input id="company-settings-community-url" type="url" class="form-control" />
      </div>
      <div class="form-group" ng-hide="true">
        <label for="company-settings-support-url">
          Sub-Company Support URL
        </label>
        <a class="action-link" href="">Default</a>
        <input id="company-settings-support-url" type="url" class="form-control" />
      </div>
      <div class="form-group">
        <label>
          Seller ID
        </label>
        <div>
          123456
        </div>
      </div>
      <div class="form-group" ng-hide="true">
        <label for="company-settings-status">
          Status
        </label>
        <select id="company-settings-status" class="form-control selectpicker">
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-fixed-width" ng-click="save()">Save
      <i class="fa fa-white fa-check icon-right"></i>
    </button>
    <button type="button" class="btn btn-danger btn-fixed-width" ng-show="!isDeletingCompany" ng-click="deleteCompany()">
      Delete <i class="fa fa-white fa-trash-o icon-right"></i>
    </button>
    <button type="button" class="btn btn-danger btn-confirm-delete" data-dismiss="modal" ng-show="isDeletingCompany" ng-click="closeModal()">
      Confirm Deletion <i class="fa fa-white fa-warning icon-right"></i>
    </button>
    <button type="button" class="btn btn-primary btn-fixed-width close-company-settings-button" data-dismiss="modal" ng-click="closeModal()">Cancel
      <i class="fa fa-white fa-times icon-right"></i>
    </button>
  </div>
</div>
