<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">
    <i class="glyphicons remove_2"></i>
  </button>
  <h2 id="company-users-label" class="modal-title">Company Users</h2>
</div>
<div class="modal-body">
  <div class="row action-bar">
    <div class="col-md-8 sort">
    <ul class="nav nav-pills nav-justified">
      <li ng-class="{active: sort.field === 'username'}">
        <a href="" ng-click="changeSorting('username')">Username
          <span ng-class="{caret: sort.descending, }" ng-show="sort.field === 'username'"></span></a></li>
      <li ng-class="{active: sort.field === 'firstName'}">
        <a href="" ng-click="changeSorting('firstName')">Name
          <span ng-class="caret" ng-show="sort.field === 'firstName'"></span></a></li>
      <li ng-class="{active: sort.field === 'lastLogin'}">
        <a href="" ng-click="changeSorting('lastLogin')">Last Login
          <span ng-class="caret" ng-show="sort.field === 'lastLogin'"></span></a></li>
    </ul>
    </div>
    <div class="col-md-4 text-right">
      <button class="btn btn-secondary" ng-csv="users"
      filename="users.csv">Download to CSV</button>
    </div>
  </div>
  <div class="list-group scrollable-list">
    <div class="list-group-item" ng-repeat="user in users | orderBy:sort.field:sort.descending">
      <div class="row">
        <div class="col-sm-10">
          <h3 class="list-group-item-heading">
            <a href=""  ng-click="editUser(user.username)">
              {{user.email}}
            </a>
          </h3>
        </div>
        <div class="col-sm-2 edit">
          <a href="" ng-click="editUser(user.username)">
            Edit
          </a>
        </div>
      </div>
      <div class="list-group-item-text">
        <h5>{{user.firstName}} {{user.lastName}}</h5>
        <span ng-repeat="role in user.roles">{{role | roleLabel}},&nbsp;</span>
        Last Logged In {{user.lastLogin}}
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary"
    ng-click="addUser()">Add User
    <i class="glyphicons white plus icon-right"></i>
  </button>
  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="closeModal()">
    Cancel <i class="glyphicons white remove_2 icon-right"></i>
  </button>
</div>
