<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    <i class="glyphicons remove_2"></i>
  </button>
  <h2 id="company-users-label" class="modal-title">Company Users</h2>
</div>
<div class="modal-body">
  <div class="row action-bar">
    <div class="col-md-8 sort">
      <a href="">
        Username
        <span class="caret"></span>
      </a>
      <a href="">Name</a>
      <a href="">Status</a>
      <a href="">Last Login</a>
    </div>
    <div class="col-md-4 text-right">
      <a href="">Download to CSV</a>
    </div>
  </div>
  <div class="list-group scrollable-list">
    <div class="list-group-item">
      <div class="row">
        <div class="col-sm-10">
          <h3 class="list-group-item-heading">
            <a href="" data-toggle="modal" data-target="#user-settings-modal">
              bld@riseholdings.com
            </a>
          </h3>
        </div>
        <div class="col-sm-2 edit">
          <a href="" data-dismiss="modal" data-toggle="modal" data-target="#user-settings-modal">
            Edit
          </a>
        </div>
      </div>
      <div class="list-group-item-text">
        Byron Darlison
        Editor, Publisher, Display, Administrator, System
        Last Logged In 03/24/14 6:35PM
        Active
      </div>
    </div>
    <div class="list-group-item">
      <div class="row">
        <div class="col-sm-10">
          <h3 class="list-group-item-heading">
            <a href="" data-toggle="modal" data-target="#user-settings-modal">
              robb.price@risevision.com
            </a>
          </h3>
        </div>
        <div class="col-sm-2 edit">
          <a href="" data-dismiss="modal" data-toggle="modal" data-target="#user-settings-modal">
            Edit
          </a>
        </div>
      </div>
      <div class="list-group-item-text">
        Robb Price
        Editor, Publisher, Display
        Last Logged In >12/05/13 9:01AM
        Inactive
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#user-settings-modal">Add User
    <i class="glyphicons white plus icon-right"></i>
  </button>
  <button type="button" class="btn btn-primary" data-dismiss="modal">
    Cancel <i class="glyphicons white remove_2 icon-right"></i>
  </button>
</div>
