<!-- Desktop and tablet -->
<li class="dropdown hidden-xs" ng-show="userState.user.profile.username">
  <a href="" class="dropdown-toggle company-buttons-icon">
    <i class="fa fa-cog"></i>
  </a>
  <ul class="dropdown-menu">
    <ng-include
      replace-include
      src="'company-buttons-menu.html'"
    ></ng-include>
  </ul>
</li>

<!-- Mobile -->
<li
 ng-show="userState.user.profile.username"
 ng-class="{'visible-xs-inline-block': userState.user.profile.username}">
  <a href="" class="company-buttons-icon" action-sheet="'company-buttons-menu.html'">
    <i class="fa fa-cog"></i>
  </a>
</li>