<!-- Desktop and tablet -->
<li class="dropdown hidden-xs" ng-show="isRiseVisionUser">
  <a href="" class="dropdown-toggle company-buttons-icon">
    <i class="fa fa-cog"></i>
  </a>
  <ul class="dropdown-menu">
    <ng-include
      replace-include
      src="'company-buttons-menu.html'"
    ></ng-include>
  </ul>
</li>

<!-- Mobile -->
<li
 ng-show="isRiseVisionUser"
 ng-class="{'visible-xs-inline-block': isRiseVisionUser}">
  <a href="" class="company-buttons-icon-mobile"
    action-sheet="'company-buttons-menu.html'">
    <i class="fa fa-cog"></i>
  </a>
</li>
