<div class="modal-header">
  <button type="button" class="close" ng-click="closeModal()">
    <i class="fa fa-times"></i>
  </button>
  <h2 id="pay-now-label" class="modal-title">Credit Cards</h2>
</div>
<div class="modal-body" ng-scroll-event="handleScroll($event, isEndEvent)">
  <form role="form">
    <div class="form-group">
      <label for="card-number">Card Number</label>
      <input id="card-number" data-stripe="number" class="form-control" type="text" ng-model="card.number"/>
    </div>
    <div class="form-group">
      <label for="card-name">Cardholder Name</label>
      <input id="card-name" data-stripe="name" class="form-control" type="text" ng-model="card.name"/>
    </div>
    <div class="row form-group">
      <div class="col-md-3">
        <label for="expiry-month">Exp. Month</label>
        <select id="expiry-month" data-stripe="exp-month" class="form-control selectpicker" ng-model="card.expMonth">
          <option value="1">01</option>
          <option value="2">02</option>
          <option value="3">03</option>
          <option value="4" selected>04</option>
          <option value="5">05</option>
          <option value="6">06</option>
          <option value="7">07</option>
          <option value="8">08</option>
          <option value="9">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="expiry-year">Exp. Year</label>
        <select id="expiry-year" data-stripe="exp-year" class="form-control selectpicker" ng-model="card.expYear">
          <option value="2014" selected>2014</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="cvc">Security Code</label>
        <input id="cvc" data-stripe="cvc" class="form-control" type="text" size="4" ng-model="card.cvc">
      </div>
    </div>
    <!-- Address -->
    <h3>Billing Address</h3>
    <div class="form-group">
      <label for="street">Street</label>
      <input id="street" type="text" class="form-control" ng-model="addr.address1" />
    </div>
    <div class="form-group">
      <label for="unit">Street (Line 2)</label>
      <input id="unit" type="text" class="form-control" ng-model="addr.address2" />
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input id="city" type="text" class="form-control" ng-model="addr.city" />
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <select id="country" class="form-control selectpicker" ng-model="addr.country" ng-options="c[1] as c[0] for c in countries">
        <option value="">&lt; Select Country &gt;</option>
      </select>
    </div>
    <div class="form-group">
      <label for="province">State / Province</label>
      <!-- <input id="province" type="text" class="form-control" ng-model="addr.province" ng-hide="addr.country == 'US' || addr.country == 'CA'" /> -->
      <select class="form-control selectpicker" ng-model="addr.province" ng-options="c[1] as c[0] for c in regionsCA" ng-show="addr.country == 'CA'">
        <option value="">&lt; Select Province &gt;</option>
      </select>
      <!-- <select class="form-control selectpicker" ng-model="addr.province" ng-options="c[1] as c[0] for c in regionsUS" ng-show="addr.country == 'US'">
        <option value="">&lt; Select State &gt;</option>
      </select> -->
    </div>
    <div class="form-group">
      <label for="zip">Zip / Postal Code</label>
      <input id="zip" type="text" class="form-control" ng-model="addr.postalCode" />
    </div>
    <!-- End Address-->
    <div class="form-group danger" ng-show="isDeletingCard">
      Warning! If you delete this credit card from your account all subscription renewals paid on this card will fail at the time of renewal resulting in potential loss of service. Please confirm you wish to proceed with deleting this card by typing "DELETE" into the box below and clicking on the Confirm Deletion button.
      <div class="row">
        <div class="col-sm-4">
          <input type="text" class="form-control" />
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col-sm-3">
      <a href="https://stripe.com/" target="_blank">
        <img src="img/powered-by-stripe.png" class="stripe" width="119" height="26" alt="Powered by Stripe">
      </a>
    </div>
    <div class="col-sm-9">
      <button type="button" class="btn btn-success btn-fixed-width" data-dismiss="modal" ng-click="closeModal()">Save
        <i class="fa fa-white fa-check icon-right"></i>
      </button>
      <button type="button" class="btn btn-danger btn-fixed-width" ng-show="!isDeletingCard" ng-click="deleteCard()">
        Delete <i class="fa fa-white fa-trash-o icon-right"></i>
      </button>
      <button type="button" class="btn btn-danger btn-confirm-delete" data-dismiss="modal" ng-show="isDeletingCard" ng-click="closeModal()">
        Confirm Deletion <i class="fa fa-white fa-warning icon-right"></i>
      </button>
      <button type="button" class="btn btn-default btn-fixed-width" data-dismiss="modal" ng-click="closeModal()">Cancel
        <i class="fa fa-white fa-times icon-right"></i>
      </button>
    </div>
  </div>
</div>
