<div class="modal-header">
  <button type="button" class="close" ng-click="closeModal()">
    <i class="fa fa-times"></i>
  </button>
  <h2 id="user-settings-label" class="modal-title">Payment Methods</h2>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="list-group">
      <div class="row list-group-item">
        <div class="col-sm-10">
          Visa - 123
          <span class="expiry">Expires - 02/15</span>
        </div>
        <div class="col-sm-2 edit">
          <a href="" ng-click="creditCards()">
            Edit
          </a>
        </div>
      </div>
      <div class="row list-group-item">
        <div class="col-sm-10">
          Amex - 123
          <span class="expiry">Expires - 02/15</span>
        </div>
        <div class="col-sm-2 edit">
          <a href="" ng-click="creditCards()">
            Edit
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col-sm-3 stripe">
      <a href="https://stripe.com/" target="_blank">
        <img src="img/powered-by-stripe.png" width="119" height="26" alt="Powered by Stripe">
      </a>
    </div>
    <div class="col-sm-9">
      <button type="button" class="btn btn-default" ng-click="closeModal()">
        Cancel <i class="fa fa-white fa-times icon-right"></i>
      </button>
    </div>
  </div>
</div>
