<div rv-spinner
rv-spinner-key="registration-modal"
rv-spinner-start-active="1">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">
    <i class="fa fa-times"></i>
  </button>
  <h2 class="modal-title">Welcome To Rise Vision</h2>
</div>
<div class="modal-body registration-modal">
  <p>We require an email address that we can reliably reach you at
  for system notices and other critical information. We promise,
   only system notices, we won't send you anything else unless you
  sign up for the newsletter below, and we won't share your email address
  with anyone else.</p>

  <form novalidate role="form" name="forms.registrationForm">
    <div class="form-group" ng-class="{ 'has-error' : forms.registrationForm.email.$invalid && !forms.registrationForm.email.$pristine }">
      <label for="email">Email</label>
      <input type="email" class="form-control email"
      name="email"
      id="email" required
      ng-model="profile.email">
      <p ng-show="forms.registrationForm.email.$invalid && !forms.registrationForm.email.$pristine"
        class="help-block validation-error-message-email">Enter a valid email.</p>
    </div>
    <!-- Terms of Service and Privacy -->
    <div class="checkbox form-group" ng-class="{ 'has-error' : forms.registrationForm.accepted.$invalid && !userForm.accepted.$pristine }">
      <label>
      <input type="checkbox" name="accepted"
        ng-model="profile.accepted"
        class="accept-terms-checkbox" required />
      I accept the terms of <a href="http://www.risevision.com/terms-service-privacy/" target="_blank">Service and Privacy</a>
      <p ng-show="forms.registrationForm.accepted.$invalid && !forms.registrationForm.accepted.$pristine"
        class="help-block validation-error-message-accepted">You must accept terms and condtions.</p>
      </label>
    </div>
    <!-- Newsletter -->
    <div class="checkbox form-group">
      <label>
        <input type="checkbox" class="sign-up-newsletter-checkbox" ng-model="profile.mailSyncEnabled"> Sign up for our newsletter
      </label>
    </div>
    <div class="form-group">
      <button ng-click="save()"
        type="button"
        class="btn btn-success btn-fixed-width registration-save-button"
        ng-disabled="registering">
        Save <i class="fa fa-white fa-check icon-right"></i>
      </button>
      <button type="button" class="btn btn-primary btn-fixed-width registration-cancel-button"
      ng-disabled="registering"
      ng-click="closeModal()">
        Cancel <i class="fa fa-white fa-times icon-right"></i>
      </button>
    </div>
  </form>
</div>
</div>
