<div rv-spinner
rv-spinner-key="terms-conditions-modal"
rv-spinner-start-active="1">
<div class="modal-header">
  <button type="button" ng-click="cancel()" class="close"><span>&times;</span><span class="sr-only">Close</span></button>
  <h2 class="modal-title">Welcome To Rise Vision</h2>
</div>
<div class="modal-body terms-conditions-modal">
  <p>We require an Email address that we can reliably reach you at
  for system notices and other critical information. We promise,
   only system notices, we won't send you anything else unless you
  sign up for the Newsletter below, and we won't share your email address
  with anyone else. Promise!</p>

  <form role="form">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control"
      id="exampleInputEmail1" placeholder="Enter email" required
      ng-model="userState.user.profile.email">
    </div>
    <!-- Terms of Service and Privacy -->
    <div class="checkbox">
      <label>
      <input type="checkbox" ng-model="userState.user.profile.accepted" />
      I accept Terms of <a href="http://www.risevision.com/terms-service-privacy/" target="_blank">Service and Privacy</a>
      </label>
    </div>
    <!-- Newsletter -->
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="userState.user.profile.mailSyncEnabled"> Sign up for the Rise Vision Newsletter
      </label>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-fixed-width"
      ng-click="cancel()">
        Cancel <i class="glyphicons white remove_2 icon-right"></i>
      </button>
      <button ng-click="agree()" type="button" class="btn btn-success btn-fixed-width">
        Save <i class="glyphicons white ok_2 icon-right"></i>
      </button>
    </div>
  </form>
</div>
</div>
