<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">
    <i class="fa fa-times"></i>
  </button>
  <h2 id="user-settings-label" class="modal-title">
  <span ng-if="!isAdd">User Settings</span>
  <span ng-if="isAdd">Add User</span>
  </h2>
</div>
<div class="modal-body user-settings-modal"
  rv-spinner="spinnerOptions"
  rv-spinner-key="user-settings"
  rv-spinner-start-active="0"
>
  <form role="form">
    <div class="form-group">
      <label>
        Username
      </label>
      <span ng-if="!isAdd">{{user.username}}</span>
      <input id="user-settings-first-name"
        type="text"
        class="form-control"
        ng-if="isAdd"
        ng-model="user.username"
        />
    </div>
    <div class="form-group">
      <label for="user-settings-first-name">
        First Name
      </label>
      <input id="user-settings-first-name"
        type="text"
        class="form-control"
        ng-model="user.firstName"
        />
    </div>
    <div class="form-group">
      <label for="user-settings-last-name">
        Last Name
      </label>
      <input id="user-settings-last-name"
        type="text"
        class="form-control"
        ng-model="user.lastName"
        />
    </div>
    <div class="form-group">
      <label for="user-settings-phone">
        Phone
      </label>
      <input
        id="user-settings-phone"
        type="tel"
        class="form-control"
        ng-model="user.telephone"
         />
    </div>
    <div class="form-group">
      <label for="user-settings-email">
        Email
      </label>
      <input
        id="user-settings-email"
        type="email"
        class="form-control"
        ng-model="user.email"
        />
    </div>
    <div class="checkbox" ng-show="showEmailCampaign">
      <label>
        <input type="checkbox"
          id="user-settings-newsletter"
          ng-model="user.mailSyncEnabled">
          Subscribe To Email Updates
      </label>
    </div>
    <div class="form-group" ng-show="isUserAdmin">
      <label>
        Roles
      </label>
      <div class="checkbox" ng-repeat="role in availableRoles"
        ng-show="editRoleAllowed(role)">
        <label>
          <input type="checkbox"
            id="user-settings-{{role.key}}"
            checklist-model="user.roles"
            checklist-value="role.key"> {{role.name}}
        </label>
      </div>
    </div>
    <div class="form-group" ng-if="user.lastLogin">
      <label>
        Last Login
      </label>
      <div>{{user.lastLogin | date:'MM/dd/yy HH:mm:ss Z'}}</div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <!-- Save -->
  <button type="button"
    class="btn btn-success btn-fixed-width"
    data-dismiss="modal"
    ng-click="save()" id="save-button">
    Save <i class="fa fa-white fa-check icon-right"></i>
  </button><!-- Cancel
  --><button type="button" class="btn btn-danger btn-fixed-width"
    ng-if="!isAdd" ng-click="deleteUser()">
		Delete <i class="fa fa-white fa-trash-o icon-right"></i>
	</button><!-- Delete
   --><button type="button" class="btn btn-primary btn-fixed-width" ng-click="closeModal()">
    Cancel <i class="fa fa-white fa-times icon-right"></i>
  </button>
</div>
