<div rv-spinner="spinnerOptions"
rv-spinner-key="user-settings-modal"
rv-spinner-start-active="1">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">
    <i class="fa fa-times"></i>
  </button>
  <h2 id="user-settings-label" class="modal-title">
  <span ng-if="!isAdd">User Settings</span>
  <span ng-if="isAdd">Add User</span>
  </h2>
</div>
<div class="modal-body user-settings-modal">
  <form role="form" novalidate name="forms.userSettingsForm">
    <div class="form-group"
      ng-class="{ 'has-error' : forms.userSettingsForm.username.$invalid && !forms.userSettingsForm.username.$pristine }"
    >
      <label>
        Username *
      </label>
      <div ng-if="!isAdd">{{user.username}}</div>
      <input id="user-settings-username"
        type="email" required name="username"
        class="form-control"
        ng-if="isAdd"
        ng-model="user.username"
        />
        <p ng-show="forms.userSettingsForm.username.$invalid && !forms.userSettingsForm.username.$pristine"
          class="help-block validation-error-message-email">User name must be a valid email address.</p>
    </div>
    <div class="form-group"
      ng-class="{ 'has-error' : forms.userSettingsForm.firstName.$invalid && !forms.userSettingsForm.firstName.$pristine }">
      <label for="user-settings-first-name">
        First Name *
      </label>
      <input id="user-settings-first-name"
        type="text" required name="firstName"
        class="form-control"
        ng-model="user.firstName"
        />
        <p ng-show="forms.userSettingsForm.firstName.$invalid && !forms.userSettingsForm.firstName.$pristine"
          class="help-block validation-error-message-firstName">First Name is required.</p>
    </div>
    <div class="form-group"
      ng-class="{ 'has-error' : forms.userSettingsForm.lastName.$invalid && !forms.userSettingsForm.lastName.$pristine }">
      <label for="user-settings-last-name">
        Last Name *
      </label>
      <input id="user-settings-last-name"
        type="text" required name="lastName"
        class="form-control"
        ng-model="user.lastName"
        />
        <p ng-show="forms.userSettingsForm.lastName.$invalid && !forms.userSettingsForm.lastName.$pristine"
          class="help-block validation-error-message-lastName">Last Name is required.</p>
    </div>
    <div class="form-group">
      <label for="user-settings-phone">
        Phone
      </label>
      <input
        id="user-settings-phone"
        type="tel"
        class="form-control"
        ng-model="user.telephone"
         />
    </div>
    <div class="form-group"
      ng-class="{ 'has-error' : forms.userSettingsForm.email.$invalid && !forms.userSettingsForm.email.$pristine }">
      <label for="user-settings-email">
        Email *
      </label>
      <input
        id="user-settings-email"
        type="email" required name="email"
        class="form-control"
        ng-model="user.email"
        />
        <p ng-show="forms.userSettingsForm.email.$invalid && !forms.userSettingsForm.email.$pristine"
          class="help-block validation-error-message-email">A valid email address is required.</p>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"
          id="user-settings-newsletter"
          ng-model="user.mailSyncEnabled">
          Subscribe To Email Updates
      </label>
    </div>
    <div class="form-group">
      <label>
        Roles
      </label>
      <div class="checkbox" ng-repeat="role in availableRoles"
        ng-show="editRoleVisible(role)">
        <label>
          <input type="checkbox"
            id="user-settings-{{role.key}}"
            checklist-model="user.roles"
            ng-disabled="!editRoleAllowed(role)"
            checklist-value="role.key"> {{role.name}}
        </label>
      </div>
    </div>
    <div class="form-group" ng-if="user.lastLogin">
      <label>
        Last Login
      </label>
      <div>{{user.lastLogin | humanReadableDateTime}}</div>
    </div>
    <div class="form-group" ng-if="!editingYourself && !isAdd">
			<label for="user-settings-status">
				Status
			</label>
			<select id="user-settings-status"
        class="form-control selectpicker" ng-model="user.status">
				<option value="1">Active</option>
				<option value="0">Inactive</option>
			</select>
		</div>
  </form>
</div>
<div class="modal-footer">
  <!-- Save -->
  <button type="button"
    class="btn btn-success btn-fixed-width"
    data-dismiss="modal"
    ng-click="save()" id="save-button">
    Save <i class="fa fa-white fa-check icon-right"></i>
  </button><!-- Cancel
  --><button type="button" class="btn btn-danger btn-fixed-width"
    ng-if="!isAdd" ng-click="deleteUser()">
		Delete <i class="fa fa-white fa-trash-o icon-right"></i>
	</button><!-- Delete
   --><button type="button" class="btn btn-primary btn-fixed-width" ng-click="closeModal()">
    Cancel <i class="fa fa-white fa-times icon-right"></i>
  </button>
</div>
</div>
