<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">
    <i class="glyphicons remove_2"></i>
  </button>
  <h2 id="user-settings-label" class="modal-title">User Settings</h2>
</div>
<div class="modal-body user-settings-modal">
  <form role="form">
    <div class="form-group">
      <label>
        Username
      </label>
      bloosbrock@gmail.com
    </div>
    <div class="form-group">
      <label for="user-settings-first-name">
        First Name
      </label>
      <input id="user-settings-first-name"
        type="text"
        class="form-control"
        ng-model="userState.user.profile.firstName"
        />
    </div>
    <div class="form-group">
      <label for="user-settings-last-name">
        Last Name
      </label>
      <input id="user-settings-last-name"
        type="text"
        class="form-control"
        ng-model="userState.user.profile.lastName"
        />
    </div>
    <div class="form-group">
      <label for="user-settings-phone">
        Telephone
      </label>
      <input
        id="user-settings-phone"
        type="tel"
        class="form-control"
        ng-model="userState.user.profile.phone"
         />
    </div>
    <div class="form-group">
      <label for="user-settings-email">
        Email
      </label>
      <input
        id="user-settings-email"
        type="email"
        class="form-control"
        ng-model="userState.user.profile.email"
        />
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"
          id="user-settings-newsletter"
          ng-model="userState.user.profile.mailSyncEnabled">
          Subscribe To Email Updates
      </label>
    </div>
    <div class="form-group">
      <label>
        Roles
      </label>
      <div class="checkbox">
        <label>
          <input type="checkbox"
            id="user-settings-editor"
            checklist-model="userState.user.profile.roles"
            checklist-value="'ce'"> Editor
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"
            id="user-settings-publisher"
            checklist-model="userState.user.profile.roles"
            checklist-value="'pu'"> Publisher
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"
            id="user-settings-display"
            checklist-model="userState.user.profile.roles"
            checklist-value="'da'"> Display
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"
            id="user-settings-administrator"
            checklist-model="userState.user.profile.roles"
            checklist-value="'ua'"> Administrator
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"
            id="user-settings-system"
            checklist-model="userState.user.profile.roles"
            checklist-value="'sa'"> System
        </label>
      </div>
    </div>
    <div class="form-group">
      <label>
        Last Login
      </label>
      <div>{{userState.user.profile.lastLogin | date:'MM/dd/yy HH:mm:ss Z'}}</div>
    </div>
    <div class="form-group">
      <label for="user-settings-status">
        Status
      </label>
      <select id="user-settings-status"
        class="form-control selectpicker"
        ng-model="userState.user.profile.status"
        >
        <option value="1">Active</option>
        <option value="0">Inactive</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button"
    class="btn btn-primary btn-fixed-width"
    data-dismiss="modal"
    ng-click="save()" id="save-button">
    Save <i class="glyphicons white ok_2 icon-right"></i>
  </button>
  <button type="button" class="btn btn-primary btn-fixed-width" data-dismiss="modal" ng-click="closeModal()">
    Cancel <i class="glyphicons white remove_2 icon-right"></i>
  </button>
</div>
