<!DOCTYPE html>
<html ng-app="test-app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!-- build:css css/style.css -->
    <link href="../../components/rv-common-style/dist/css/rise.min.css" rel="stylesheet" type="text/css" />
    <link href="../../components/JSONedit/css/styles.css" rel="stylesheet" type="text/css" />
    <!-- endbuild -->
  </head>
  <body ng-controller="MainController">
    <common-header nav-options="navOptions"></common-header>
    <button ng-show="realGapiLoaded" ng-click="loadFakeGAPI()" class="btn btn-secondary">Load Fake GAPI</button>
    <div ng-if="db">
      This app was built for the sole purpose of testing &amp; demoing common header.
      Set server latency to <input type="number" ng-model="db.serverDelay" id="server-delay" /> ms.

      <button class="btn" ng-click="loadRealGAPI()" id="load-real-gapi">Load Actual GAPI</button>

      <button class="btn" ng-click="resetDb()" id="reset-db">Reset DB</button>

      <ng-view off-canvas-content>Loading...</ng-view>
    </div>

    <script type="text/ng-template" id="fake-google-companies.html">
      <h1>Fake Google Cloud Server - Companies</h1>
      <div class="container">
        <div class="row">
          <div class="jsonView col-md-3" defocus>
          </div>
          <div class="col-md-6 jsonView" defocus>
            <h3 class="inline">All Companies in Fake Google DB</h3>
            <button class="btn" ng-click="clearCompanies()">Clear</button>
            <button class="btn" ng-click="resetCompanies()">Reset</button>
            <div><json child="db.companies" default-collapsed="false" type="'array'">
            </json></div>
          </div>
          <div class="col-md-3 jsonView" defocus>
          </div>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="fake-google-system-messages.html">
      <h1>Fake Google Cloud Server - System Messages</h1>
      <div class="container" id="companies">
      <div class="row">
        <div class="jsonView col-md-3"></div>
        <div class="jsonView col-md-6">
          <h3 class="inline">System Messages</h3>
          <button class="btn" ng-click="clearSystemMessages()" id="clear-system-messages-button">Clear</button>
          <button class="btn" ng-click="resetSystemMessages()" id="reset-system-messages-button">Reset</button>
          <div><json child="db.systemMessages.items" default-collapsed="false" type="'object'">
          </json></div>
        </div>
        <div class="jsonView col-md-3"></div>
      </div>
      <div class="tab-pane container" id="system-messages">
      </div>
    </script>

    <script type="text/ng-template" id="fake-google-users.html">
      <h1>Fake Google Cloud Server - Users</h1>
      <div class="container" id="users">
        <div class="row">
          <div class="jsonView col-md-6">
            <h3 class="inline">Current Accounts in Fake Google DB</h3>
            <button class="btn" ng-click="clearAccounts()" id="clear-accounts">Clear</button>
            <button class="btn" ng-click="resetAccounts()" id="reset-account">Reset</button>
            <div>
              <json child="db.accounts"
                default-collapsed="false"
                type="'array'"></json>
            </div>
          </div>
          <div class="jsonView col-md-6">
            <h3 class="inline">User Profiles in Fake Google DB</h3>
            <button class="btn" id="clear-users" ng-click="clearUsers()">Clear</button>
            <button class="btn" id="reset-users" ng-click="resetUsers()">Reset</button>
            <div><json child="db.users" default-collapsed="false" type="'array'">
            </json></div>
            </div>
        </div>
      </div>

    </script>

    <script type="text/ng-template" id="fake-store.html">
    <h1>Store!</h1>

    <button class="btn" id="buy-product-1" ng-click="buyProduct('p1')">Put Product 1 to Cart</button>
    <button class="btn" id="buy-product-2" ng-click="buyProduct('p2')">Put Product 2 to Cart</button>
    <button class="btn" id="buy-product-3" ng-click="buyProduct('p3')">Put Product 3 to Cart</button>

    <br /><br />
    <button class="btn" id="clear-cart" ng-click="clearCart()">Clear Cart</button>

    </script>
    <!-- build:js js/components.js -->
    <script type="text/javascript" src="../../components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../../components/angular/angular.js"></script>
    <script type="text/javascript" src="../../components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="../../components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="../../components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="../../components/angular-touch/angular-touch.js"></script>
    <script type="text/javascript" src="../../components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="../../components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="../../components/checklist-model/checklist-model.js"></script>
    <script type="text/javascript" src="../../components/ngstorage/ngStorage.js"></script>
    <script type="text/javascript" src="../../components/angular-spinner/angular-spinner.js"></script>
    <script type="text/javascript" src="../../components/spin.js/spin.js"></script>
    <script type="text/javascript" src="../../components/rv-loading/loading.js"></script>
    <script type="text/javascript" src="../../components/ng-biscuit/dist/ng-biscuit.js"></script>
    <script type="text/javascript" src="../../components/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="../../components/jquery-ui/ui/jquery-ui.js"></script>
    <script type="text/javascript" src="../../components/ng-csv/build/ng-csv.js"></script>

    <script type="text/javascript" src="../../components/angular-ui-sortable/sortable.js"></script>

    <!-- endbuild -->

    <!-- build:js js/common-header.js -->
    <script type="text/javascript" src="../../src/templates.js"></script>
    <script type="text/javascript" src="../../src/js/dtv-common-header.js"></script>
    <script type="text/javascript" src="../../src/js/controllers/ctr-subcompany-banner.js"></script>
    <script type="text/javascript" src="../../src/js/controllers/ctr-global-alerts.js"></script>
    <script type="text/javascript" src="../../src/js/controllers/ctr-auth-buttons.js"></script>
    <script type="text/javascript" src="../../src/js/controllers/ctr-company-buttons.js"></script>
    <script type="text/javascript" src="../../src/js/controllers/ctr-shoppingcart.js"></script>
    <script type="text/javascript" src="../../src/js/controllers/ctr-close-frame.js"></script>
    <script type="text/javascript" src="../../src/js/controllers/ctr-system-messages.js"></script>
    <script type="text/javascript" src="../../src/js/controllers/ctr-modals.js"></script>
    <script type="text/javascript" src="../../src/js/controllers/ctr-registration-modal.js"></script>
    <script type="text/javascript" src="../../src/js/controllers/ctr-move-company-modal.js"></script>
    <script type="text/javascript" src="../../src/js/controllers/ctr-company-settings-modal.js"></script>
    <script type="text/javascript" src="../../src/js/controllers/ctr-company-modals.js"></script>
    <script type="text/javascript" src="../../src/js/controllers/ctr-company-users-modal.js"></script>
    <script type="text/javascript" src="../../src/js/controllers/ctr-user-settings-modal.js"></script>
    <script type="text/javascript" src="../../src/js/controllers/ctr-signout-modal.js"></script>
    <script type="text/javascript" src="../../src/js/ui-components/off-canvas-nav.js"></script>
    <script type="text/javascript" src="../../src/js/ui-components/action-sheet.js"></script>
    <script type="text/javascript" src="../../src/js/angular-scrollevents.js"></script>
    <script type="text/javascript" src="../../src/js/svc-util.js"></script>
    <script type="text/javascript" src="../../src/js/svc-geodata.js"></script>
    <script type="text/javascript" src="../../src/js/svc-popup-detector.js"></script>
    <script type="text/javascript" src="../../src/js/svc-userstate.js"></script>
    <script type="text/javascript" src="../../src/js/svc-ui-status.js"></script>
    <script type="text/javascript" src="../../src/js/svc-account.js"></script>
    <script type="text/javascript" src="../../src/js/svc-registration.js"></script>
    <script type="text/javascript" src="../../src/js/svc-cache.js"></script>
    <script type="text/javascript" src="../../src/js/svc-user.js"></script>
    <script type="text/javascript" src="../../src/js/svc-shoppingcart.js"></script>
    <script type="text/javascript" src="../../src/js/svc-system-messages.js"></script>
    <script type="text/javascript" src="../../src/js/svc-oauth2.js"></script>
    <script type="text/javascript" src="../../src/js/svc-company.js"></script>
    <script type="text/javascript" src="../../src/js/config/config.js"></script>
    <script type="text/javascript" src="../../src/js/svc-config.js"></script>
    <script type="text/javascript" src="../../components/ng-gapi-loader/src/js/svc-gapi.js"></script>
    <script type="text/javascript" src="../../src/js/svc-localstorage.js"></script>
    <script type="text/javascript" src="../../src/js/svc-system-messages.js"></script>
    <script type="text/javascript" src="../../src/js/svc-data-gadgets.js"></script>
    <!-- endbuild -->

    <!-- build:js js/test-app.js -->
    <script type="text/javascript" src="../../components/JSONedit/js/JSONEdit.js"></script>
    <script type="text/javascript" src="../gapi-mock-data/_mock-data.js"></script>
    <script type="text/javascript" src="../gapi-mock-data/users.js"></script>
    <script type="text/javascript" src="../gapi-mock-data/companies.js"></script>
    <script type="text/javascript" src="../gapi-mock-data/accounts.js"></script>
    <script type="text/javascript" src="../gapi-mock-data/systemmessages.js"></script>
    <script type="text/javascript" src="../../components/mustache/mustache.js"></script>
    <script type="text/javascript" src="../gapi-mock.js"></script>
    <!-- endbuild -->
    <style>

    .jsonView .deleteKeyBtn, .jsonView .moveArrayItemBtn {
      z-index: 800;
    }

    .inline {
      display: inline-block;
    }
    </style>

    <script type="text/javascript">
      angular.module("test-app", ["ngRoute", "risevision.common.config", "risevision.common.header", "JSONedit"])
      .value("STORE_URL", "/test/e2e/")

      .config(['$routeProvider', function($routeProvider) {
        $routeProvider.
          when('/users', {templateUrl: 'fake-google-users.html',   controller: "FakeGoogleUserController"}).
          when('/companies', {templateUrl: 'fake-google-companies.html',   controller: "FakeGoogleCompanyController"}).
          when('/system-messages', {templateUrl: 'fake-google-system-messages.html',   controller: "FakeGoogleSystemMessagesController"}).
          when('/shopping-cart', {templateUrl: 'fake-store.html',   controller: "FakeStoreController"}).
          otherwise({redirectTo: '/shopping-cart'});
      }])

      .controller("MainController", function($rootScope, $scope) {
        $rootScope.navOptions = [{
          title: 'Accounts & Users',
          link: '#/users'
        },
        {
          title: 'Companies',
          link: '#/companies'
        },
        {
          title: 'System Messages',
          link: '#/system-messages'
        }
        , {
          title: 'Fake Store',
          link: '#/shopping-cart'
        }];

        if(window.gapi && window.gapi._fakeDb) {
          $scope.db = window.gapi._fakeDb;
        }

        $scope.resetDb = function () {
          window.gapi.resetDb();
        }

        $scope.realGapiLoaded = window.realGapiLoaded;

        function deleteAllCookies() {
            var cookies = document.cookie.split(";");

            for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i];
              var eqPos = cookie.indexOf("=");
              var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
              document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
            }
        }

        $scope.loadFakeGAPI = function () {
          deleteAllCookies();
          function deleteParam(key)
          {
              key = encodeURI(key);
              var kvp = document.location.search.substr(1).split('&');
              var i=kvp.length; var x; while(i--)
              {
                  x = kvp[i].split('=');
                  if (x[0]==key)
                  {
                      kvp.splice(i, 1);
                      break;
                  }
              }
              //this will reload the page, it's likely better to store this until finished
              document.location.search = kvp.join('&');
          }
          deleteAllCookies();
          deleteParam("realGapi");

        }
        $scope.loadRealGAPI = function (){
          function insertParam(key, value)
          {
              key = encodeURI(key); value = encodeURI(value);
              var kvp = document.location.search.substr(1).split('&');
              var i=kvp.length; var x; while(i--)
              {
                  x = kvp[i].split('=');
                  if (x[0]==key)
                  {
                      x[1] = value;
                      kvp[i] = x.join('=');
                      break;
                  }
              }
              if(i<0) {kvp[kvp.length] = [key,value].join('=');}
              //this will reload the page, it's likely better to store this until finished
              document.location.search = kvp.join('&');
          }

          deleteAllCookies();

          insertParam("realGapi", 1);
        }

        if(!$scope.realGapiLoaded) {
          $scope.$watch("db", function (newVal) {
            localStorage.setItem("fakeGoogleDb", JSON.stringify(newVal || {}));
          }, true);
        }
      })

      .controller("FakeGoogleUserController", function ($scope, $rootScope) {

          $scope.clearUsers = function () {
            window.gapi.clearUsers();
          }
          $scope.clearAccounts = function () {
            window.gapi.clearAccounts();
          }
          $scope.resetAccounts = function () {
            window.gapi.resetAccounts();
          }
          $scope.resetUsers = function () {
            window.gapi.resetUsers();
          }
      })

      .controller("FakeGoogleCompanyController", function ($scope, $rootScope) {
        $scope.resetCompanies = function () {
          window.gapi.resetCompanies();
        }
        $scope.clearCompanies = function () {
          window.gapi.clearCompanies();
        }
      })

      .controller("FakeGoogleSystemMessagesController", function ($scope, $rootScope) {
        $scope.resetSystemMessages = function () {
          window.gapi.resetSystemMessages();
        }
        $scope.clearSystemMessages = function () {
          window.gapi.clearSystemMessages();
        }
      })

      .controller("FakeStoreController", function ($scope, shoppingCart) {
        $scope.buyProduct = function (id) {
          shoppingCart.addItem({productId: id, orderedPricing: [200]}, 1, 0);
        };

        $scope.clearCart = function () {
          shoppingCart.clear();
        }
      });


    </script>

  </body>
</html>
